.btn-return-dashboard {
  margin-top: 10px;
}

.btn-return-dashboard a {
  color: #fff;
}

.icon, .icone-tempo {
  margin: 0 auto;
}

.card-tempo {
  background-color: #c7c7c7;
}

.imagem-tempo {
  margin: 0 auto;
}
